.wrapper-class {
    padding: 0.9rem;
    /* border: 1px solid #ccc; */
    /* background-color: #ddd; */
}
.editor-class {
    /* background-color: lightgray; */
    padding: 0.3rem;
    /* border: 1px solid #ccc; */
    overflow: scroll;
}
.toolbar-class {
    /* border: 1px solid #ccc; */
    display: flex;
    align-items: center;
}
.text_editor {
}